
<div class="container">
  <div class="row">
    <h1>HOMEPAGE</h1>
  </div>
</div>

<div class="container">
  <div class="row well well-background">
    <p>&copy; Copyright 2017 - Powered by JvO IT Solutions</p>
  </div>
</div>
