<!-- app/views/categories/index.html.erb -->

<div class="container">
  <div class="row">
    <h1>Categorieen</h1>
  </div>
</div>

<div class="container">
  <div class="row well well-background">
    <% @categories.each do |category| %>
        <p><%= category.name %></p>
    <% end %>
  </div>
</div>
